body {
    color: rgb(110, 105, 105);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .hidden {
    display: none;
  }
  .container {
    padding: 30px;
  }
  h3 {
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
  }
  .card__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  .card_item {
    float: left;
    width: 39px;
    height: 25px;
    text-indent: -9999px;
    background-position: 0 0;
    margin-right: 4px;
  }

  /*за счет такого положения становиться серым*/
.deactive {
    background-position: 0 -25px;
}

.position_img {
    background-position: 0 0;
}

  .card_visa {
    background-image: url(../images/card-visa.gif);
    
  }

  .card_mastercard {
    background-image: url(../images/card-mastercard.gif);
    
  } 

  .card_american_express {
    background-image: url(../images/card-amex.gif);
    
  }

  .discover {
    background-image: url(../images/card-discover.gif);
    
  }

  .jcb {
    background-image: url(../images/card-jcb.gif);
    
  }

 .card_mir {
    background-image: url(../images/Мир_копия.png);
    
  }
   
  [data-widget="card_form_widget"] {
    display: flex;
    justify-content: center;
  }
  #cart-input {
    height: 25px;
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }
  
  .btn {
    cursor: pointer;
    color: white;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #4cae4c;
    background-color: #5cb85c;
    margin-left: 10px;
  }
  .btn:hover {
    background-color: #235723;
  }